.first-showcase{
    color: white;
    margin-top: 300px;
    font-weight: 900;
}

#showcase-heading{
    font-size: 400%;
    font-family: Livvic;
}

/*animated font*/
.ml13 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 450%;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
    color: #eb4a48;
  }